body{
	 display: block;
    margin-left:500;

}
body[type="logo"]{
		 width=30;
		 height=30;
	
}
.mood{
	style : "book antiqua";
	font-size : 25px;
	display: block;
    margin-left: auto;
    margin-right: auto;
	
}